openapi: 3.1.0
info:
  title: Google Pub/Sub Google Cloud Pub/Sub Publish Snapshots API
  description: Provides reliable, many-to-many, asynchronous messaging between applications. The Pub/Sub API allows you to create and manage topics and subscriptions, publish messages, and pull or push messages to subscribers.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/pubsub
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://pubsub.googleapis.com
  description: Google Cloud Pub/Sub API
security:
- oauth2:
  - https://www.googleapis.com/auth/pubsub
- bearerAuth: []
tags:
- name: Snapshots
  description: Manage subscription snapshots
paths:
  /v1/projects/{project}/snapshots:
    get:
      operationId: listSnapshots
      summary: Google Pub/Sub List snapshots
      description: Lists the existing snapshots in the given project.
      tags:
      - Snapshots
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSnapshotsResponse'
  /v1/projects/{project}/snapshots/{snapshot}:
    get:
      operationId: getSnapshot
      summary: Google Pub/Sub Get a snapshot
      description: Gets the configuration details of a snapshot.
      tags:
      - Snapshots
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: snapshot
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
    put:
      operationId: createSnapshot
      summary: Google Pub/Sub Create a snapshot
      description: Creates a snapshot from the requested subscription. Snapshots are used for the seek operation.
      tags:
      - Snapshots
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: snapshot
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - subscription
              properties:
                subscription:
                  type: string
                labels:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
    delete:
      operationId: deleteSnapshot
      summary: Google Pub/Sub Delete a snapshot
      description: Removes an existing snapshot.
      tags:
      - Snapshots
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: snapshot
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  schemas:
    ListSnapshotsResponse:
      type: object
      properties:
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/Snapshot'
        nextPageToken:
          type: string
    Snapshot:
      type: object
      properties:
        name:
          type: string
        topic:
          type: string
        expireTime:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/pubsub: Manage Pub/Sub resources
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
    bearerAuth:
      type: http
      scheme: bearer
